html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url('/images/background.svg');
    background-size: cover; /* מתאים את הרקע כך שיכסה את כל המסך */
    background-repeat: no-repeat; /* מונע חזרה של הרקע */
    background-attachment: fixed; /* שומר את הרקע קבוע גם בגלילה */
    background-position: center; /* ממרכז את התמונה */
}