body {
    background-image: url('/images/background.svg');
    background-size: cover; /* מתאים את הרקע כך שיכסה את כל המסך */
    background-repeat: no-repeat; /* מונע חזרה של הרקע */
    background-attachment: fixed; /* שומר את הרקע קבוע גם בגלילה */
    background-position: center; /* ממרכז את התמונה */
}


header {
    /*background-color: white;*/
    color: #333; /* טקסט כהה */
}


.logo {
    height: 50px; /* גובה לוגו */
}

h1 {
    font-size: 2em;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 8%; /* המרווח מלמעלה */
    background-color: #333; /* שחור כהה */
}

    nav ul li {
        margin: 0 10px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            padding: 10px 20px;
            display: block;
            transition: background-color 0.3s;
        }

            nav ul li a:hover {
                background-color: #333; /* ירוק בהיר */
                border-radius: 5px;
            }

.hero {
    /*background-color: #f2f9ff;*/ /* רקע כחול בהיר */
    text-align: center;
    padding: 50px 0;
}

    .hero h2 {
        color: #333; /* ירוק */
        font-size: 2.5em;
    }

.highlights {
    display: flex;
    justify-content: space-around;
    gap: 20px; /* רווחים בין התיבות */
    padding: 20px;
    /*background-color: #e0f7fa;*/ /* רקע כחול עדין */
}

.highlight {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
    border: 1px solid #ccc;
}

    .highlight h3 {
        color: #333; /* ירוק */
        font-size: 1.5em;
        margin-bottom: 10px;
    }


footer {
    background-color: #333; /* שחור כהה */
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}
